[tool.poetry]
name = "ResSimpy"
version = "0.1.0"
description = ""
authors = ["BP"]
readme = "README.rst"
keywords = ["ResSimpy", "Reservoir Engineering"]
classifiers = [
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.10",
    "Development Status :: 3 - Alpha",
    "Topic :: Scientific/Engineering",
    "Topic :: System :: Filesystems",
    "Topic :: Scientific/Engineering :: Information Analysis"
]

[tool.poetry.dependencies]
python = ">=3.10, <3.11"
resqpy = "^4.2"
numpy = "^1.23"
pandas = "^1.5"

[tool.poetry.group.dev.dependencies]
pytest-mock = "^3.9"
pytest = "^7.1"
coverage = "^6.5"
flake8 = "^5.0.4"
mypy = "^0.991"
pycodestyle = "^2.9.1"
pytest-cov = "^4.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
