[tool.poetry]
name = "ResSimpy"
version = "0.1.0"
description = ""
authors = ["BP"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.10, <3.11"
resqpy = "^3.5.2"

[tool.poetry.group.dev.dependencies]
pytest-mock = "^3.9"
pytest = "^7.1"
coverage = "^6.5"
flake8 = "^5.0.4"
mypy = "^0.991"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
